/* header background */
#img-background{
    background-image: url(Assets/Cityscapes_27.jpg);
    width: 1588px;
    height:884px;
    position: relative;
    bottom: 9px;
}

/* ul header */

#barra-principal-total{
    list-style-type: none;
    margin: 0;
    height: 60px;
    overflow:hidden;
    background-color:#222222;
    position: relative;
    bottom: 35px;
}

li.barra-principal{
    float:right;
}

li.barra-principal a.barra-principal{
    display: block;
    color: #D1CBCB;
    font-family: Tw Cen MT Condensed;
    font-size: 25px;
    text-align:center;
    padding: 16px;
    text-decoration: none;
    margin-right: 10px;
}

li.barra-principal a.barra-principal:hover{
    background-color:#4AA07F;

}

/* HEADER TITLE 1 */

#header-text_1{
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    font-family: monospace;
    position: relative;
    top: 30px;
    margin-left: 230px;
    margin-right: 3000px;
    font-weight: bold;
}

/* sub header */

#sub-header-text{
    font-size: 60px;
    color: #fffffF;
    font-family: "Tw Cen MT Condensed";
    position: relative;
    bottom: 270px;
    margin-left: 800px;
}

/* hr header */

#hr_1{
    border: solid 1px white;
    width: 45%;
    position: relative; 
    bottom: 280px;
    margin-right: 180px;
}

/*SECTION 1 */

#section_1{
    background-color:#222222;
    width: 1588px;
    height: 1000px;
    margin-left: 0px;
}

/* article 1 */

#article_1{
    background-color: #F7F6F6;
    width: 680px;
    height: 890px;
    margin-left: 15px;
    position: relative;
    top: 45px;
    border: 1px solid #D7D1D1;
    margin-left: 50px;
}


/* img article 1 */

img.image-article_1{
    width: 100%;
    height: 60%;
    position: relative;
    bottom: 2px;
    box-shadow:  0 0 30px #F7F6F6;
}

/* title article 1 */

p.tittle-article_1{
    color: black;
    letter-spacing: 8px;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
}

/* hr article 1 */

hr.article-hr_1{
    border-bottom: solid 1px black;
    width: 65%;
    position: relative;
    bottom: 10px;
}

p.text-article_1{
    font-size: 24px;
    margin: 25px;
    font-family: sans-serif;
    color: black;
}

span.portfolio {
    color: #20AAD2;
}

/* ARTICLE 2 */

#article_2{
     background-color: #F7F6F6;
    width: 680px;
    height: 890px;
    margin-left: 850px;
    position: relative;
    bottom: 847px;
    border: 1px solid #D7D1D1;
}

/* img article 2 */

img.image-article_2{
    width: 100%;
    height: 60%;
    position: relative;
    bottom: 2px;
    box-shadow:  0 0 30px #F7F6F6;
}

/* title article 2 */

p.title-article_2{
    color: black;
    letter-spacing: 8px;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
}

/* text article 2 */

p.text-article_2{
    font-size: 24px;
    text-align: center;
    margin: 25px;
    font-family: sans-serif;
    color: black;
}

hr.article-hr_2{
    border: solid 1px black;
    width: 55%;
    position: relative;
    bottom: 10px;
}

/* SECTION 2 */

#section_2{
    background-color:#222222;
    width: 1588px;
    height: 1000px;
    margin-left: 0px;
}

/* article 3 */

#article_3{
    background-color: #F7F6F6;
    width: 490px;
    height: 890px;
    margin-left: 15px;
    position: relative;
    top: 55px;
}

/* img article 3 */

img.images-article_3{
    width: 490px;
    height: 350px;
    position: relative;
    top:0px;
    margin-right: 20px;
    box-shadow:  0 0 30px #F7F6F6; 
}

/* h2 article 3 */

h2.title-article_3{
    color: black;
    letter-spacing: 8px;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top:35px;
}

 /* hr article 3 */

 hr.article-hr_3{
    border: solid 1px black;
    width: 55%;
    position: relative;
    top: 36px;
 }

 /* text article 3 */

 p.text-article_3{
    font-size: 30px;
    position: relative;
    top: 85px;
    text-align: center;
    margin: 15px;
    font-family: sans-serif;
    color: black;
}

/* ARTICLE 4 */

#article_4{
    background-color: #F7F6F6;
    width: 490px;
    height: 890px;
    margin-left: 540px;
    position: relative;
    bottom:835px;
}

/* img article 4 */

img.images-article_4{
    width: 490px;
    height: 350px;
    position: relative;
    top:0px;
    margin-right: 20px;
    box-shadow:  0 0 30px #F7F6F6; 
}

/* h2 title article 4  */

h2.title-article_4{
    color: black;
    letter-spacing: 8px;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top:35px;
}

/* hr article 4 */

hr.article-hr_4{
    border: solid 1px black;
    width: 55%;
    position: relative;
    top: 36px;
}

/* text article 4 */

p.text-article-4{
    font-size: 27px;
    position: relative;
    top: 85px;
    text-align: center;
    margin: 15px;
    font-family: sans-serif;
    color: black;
}

/* ARTICLE 5 */

#article_5{
    background-color: #F7F6F6;
    width: 490px;
    height: 890px;
    margin-left:1070px;
    position: relative;
    bottom:1725px;
}

/* img article 5 */

img.images-article_5{
    width: 490px;
    height: 350px;
    position: relative;
    top:0px;
    margin-right: 20px;
    box-shadow:  0 0 30px #F7F6F6;
}

/* h2 article 5 */

h2.title-article_5{
    color: black;
    letter-spacing: 8px;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top:35px;
}

/* hr article 5 */

hr.article-hr_5{
    border: solid 1px black;
    width: 55%;
    position: relative;
    top: 36px;
}

/* text article 5 */

p.text-article_5{
    font-size: 27px;
    position: relative;
    top: 85px;
    text-align: center;
    margin: 15px;
    font-family: sans-serif;
    color: black;
}

/* SECTION 3 */

#section_3{
    background-color:#222222;
    width: 1588px;
    height: 1000px;
    margin-left: 0px;   
}

/* INPUT AND FORMS */

/* ARTICLE 6 */

#article_6{
    width: 37%;
    height: 95%;
    position: relative;
    margin-left: 20px;
    top: 20px;
    background-color: #F7F6F6;
}

/* form email */

input.form-email{
    background-color: #222222;
    border-radius: 60px;
    margin-left: 50px;
    border-style: none;
    font-size: 29px;
    height: 55px;
    width: 75%;
    font-family: inherit;
    letter-spacing: 8px;
    position: relative;
    top: 80px;
}

/* form password */

input.form-password{
    background-color: rgb(34, 34, 34);
    position: relative;
    top: 105px;
    margin-left: 50px;
    font-size: 29px;
    height: 55px;
    width: 75%;
    font-family: inherit;
    letter-spacing: 8px;
    border-radius: 60px;
    border-style: none;
}

/* form box continue */

aside.box-continue{
    background-color: #2E777A;
    width: 75%;
    height: 60px;
    margin-left: 50px;
    position: relative;
    top: 90px;
}

/* <a> box continue */

a.box-continue{
    border-radius: 5px;
    border-style: none;
    width: 242px;
    height: 25px;
    margin-left: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 29px;
    color: #CCCCCC;
    position: relative;
    margin-left: 130px;
    font-family: inherit;
    letter-spacing: 8px;
    top: 9px;
}

/* p or */

p.or{
    color: #222222;
    position: relative;
    top: 125px;
    margin-left: 260px;
    font-family: inherit;
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: bolder;
}

/* hr OR */

hr.forms-or{
    width: 39%;
    color: #222222;
    position: relative;
    top: 87px;
    margin-left: 19px;
}
 hr.forms-or2{
    width: 42%;
    color: #222222;
    position: relative;
    top: 77px;
    margin-right: 39px;
 }

/* aside box google */

aside.box-google{
    background-color: #DD2D2D;
    width: 75%;
    height: 60px;
    margin-left: 50px;
    position: relative;
    top: 100px;
    border-radius: 5px;
}

/* a google */

a.box-google{
        border-radius: 5px;
    border-style: none;
    width: 242px;
    height: 25px;
    text-decoration: none;
    font-size: 22px;
    color: #F7F6F6;
    position: relative;
    margin-left: 70px;
    font-family: inherit;
    top: 17px;
    letter-spacing: 3px;
}

/* aside box facebook */

aside.box-facebook{
    background-color: #1429EF;
    width: 75%;
    height: 60px;
    margin-left: 50px;
    position: relative;
    top: 100px;
    border-radius: 5px;
}

/* a box facebook */

a.box-facebook{
    border-radius: 5px;
    border-style: none;
    width: 242px;
    height: 25px;
    text-decoration: none;
    font-size: 22px;
    color: #F7F6F6;
    position: relative;
    margin-left: 70px;
    font-family: inherit;
    top: 17px;
    letter-spacing: 3px;
}

/* text no user end */

#text-no-user{
    color: #222222;
    font-family: inherit;
    letter-spacing: 5px;
    position: relative;
    top: 200px;
    margin-left: 30px;
}


/* span sign up */

span.sign-up{
    color: #0A4FFF;
    font-family: inherit;
    letter-spacing: 5px;
    position: relative;
    top: 160px;
    margin-left:390px;
    font-weight: bold;
}

#a-span{
    text-decoration: none;
}

/* ARTICLE 7*/

#article_7{
    background-color: #F7F6F6;
    width: 430px;
    height: 415px;
    position: relative;
    margin-left: 650px;
    bottom: 930px;
    box-shadow:  0 0 10px #F7F6F6;
}

img.image-article_7{
    height:23em;
    background-size: cover;
    width: 100%;
    box-shadow:  0 0 30px #4AA07F;
}

h2.text-article_7{
    color:#222222;
    font-family: inherit;
    letter-spacing: 8px;
    font-weight: normal;
    text-align: center;
    position: relative;
    bottom: 10px;
}

/*ARTICLE 8 */

#article_8{
    background-color: #F7F6F6;
    width: 430px;
    height: 415px;
    position: relative;
    margin-left: 1120px;
    bottom: 1345px;
    box-shadow:  0 0 10px #F7F6F6;
}

img.images-article_8{
    height:23em;
    background-size: cover;
    width: 100%;
    box-shadow:  0 0 30px #4AA07F;
}

h2.text-article_8{
    color:#222222;
    font-family: inherit;
    letter-spacing: 8px;
    font-weight: normal;
    text-align: center;
    position: relative;
    bottom: 10px;
}

/* ARTICLE 9 */

#article_9{
    background-color: #F7F6F6;
    bottom: 1255px;
    box-shadow:  0 0 10px #F7F6F6;
    height: 415px;
    margin-left: 1120px;
    position: relative;
    width: 430px;
}

img.images-article_9{
    background-size: cover;
    box-shadow:  0 0 30px #4AA07F;
    height:23em;
    width: 100%;
}

h2.text-article_9{
    bottom: 10px;
    color:#222222;
    font-family: inherit;
    font-weight: normal;
    letter-spacing: 8px;
    position: relative;
    text-align: center;
}

/* ARTICLE 10 */

#article_10{
    background-color: #F7F6F6;
    width: 430px;
    height: 415px;
    position: relative;
    margin-left: 650px;
    bottom: 1670px;
    box-shadow:  0 0 10px #F7F6F6;
}

img.image-article_10{
    height:23em;
    background-size: cover;
    width: 100%;
    box-shadow:  0 0 30px #4AA07F;  
}

h2.text-article_10{
    color:#222222;
    font-family: inherit;
    letter-spacing: 8px;
    font-weight: normal;
    text-align: center;
    position: relative;
    bottom: 10px;
}

/* FOOTER */

#end{
    background-color: #4AA07F;
    width: 1588px;
    height: 60px;
}

#end_1{
    color: #F7F6F6;
    font-size: 18px;
    letter-spacing: 8px;
    font-family: inherit;
    text-align: center;
    position: relative;
    top: 20px;
}

span.gitTrex a{
    text-decoration: none;
    color:white;
}

span.gitTrex a:hover{
    color: red;
    font-family: inherit;
    font-size: 18px;
}

a:nth-child(n):hover{
    color: yellow;
}